[submodule "Modules/glfw"]
	path = Modules/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Modules/tinyobjloader"]
	path = Modules/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
